.aside-notes {
    overflow: auto;
    background-color:white;
    height: $main-section-height;
    position: relative;
    top: 0px;
    right: -2000px;
    transition: all 2s ;


    .navbar-default{
        background-color: transparent;
        border-color: transparent;
        button{
            background: transparent;
            border-color: transparent;
            color: #00af33;
            &:hover{
                color: gray;
            }
        }
        .navbar-toggle{
            //#ddd
            border-color: #00af33;
            .icon-bar{
                background-color: #00af33;
            }
        }
    }
    .dashboard{
            height: 500px;
        .note-list,.tag-list{
            margin-top: 2rem;
                .note-list-content, .tag-list-content{
                overflow: auto;
                height: 200px;

                .note,.tag{
                    border-bottom: 1px solid #ddd;
                    border-radius: 2px;
                    padding: 0.5rem;
                    background-color: white;
                    &:hover{
                        cursor: pointer;
                        background-color: #00af33;
                    }
                }
            }
        }
    }
    .notes-container{
        .note{
            border-radius: 2px;
            padding: 0.5rem;
            margin: 0.5rem;
            background-color: gray;
        }
    }   
}

.transform-active {
    position: absolute;
    top: 0px;
    right: 0px;
}
  

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
