.header-section {
  background-color: $header-background-color;
  height: $header-height;
  z-index: $header-z-index;

  %side-assets {
    align-items: center;
    display: flex;
    height: $header-height;
    justify-content: center;
    position: relative;
  }

  .logo-container {
    @extend %side-assets;
    right: $header-side-assets-center-offset;

    .logo {
      border-radius: $header-user-photo-border-radius;
      cursor: pointer;
      max-height: $header-user-photo-dimension;
      max-width: $header-user-photo-dimension;
      overflow: hidden;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .main-menu {
    align-items: center;
    display: flex;
    height: $header-height;
    justify-content: center;

    .icon-container {
      display: flex;
      justify-content: space-between;
      max-width: 200px;
      width: 100%;

      @include sm {
        max-width: $header-icon-container-max-width;
      }

      button {
        border-radius: $header-icon-border-radius;
        border: 0;
        background-color: transparent;
        transition: $header-icon-button-trasition-time ease-in;
        height: $header-icon-button-dimension;
        width: $header-icon-button-dimension;
        padding-top: $header-icon-button-padding;
        padding-left: $header-icon-button-padding;

        i {
          color: $header-icon-background-color;
          font-size: $header-icon-font-size;
          transition: $header-icon-button-trasition-time ease-in;
        }

        &:hover {
          background-color: $header-icon-background-color;

          i {
            color: $header-background-color;
          }
        }

        &:focus {
          outline: 0;
        }

        &.hide-on-desktop {
          @include sm {
            display: none;
          }
        }
      }
    }
  }

  .user-photo-container {
    @extend %side-assets;
    left: $header-side-assets-center-offset;

    .user-photo {
      border-radius: $header-user-photo-border-radius;
      cursor: pointer;
      max-height: $header-user-photo-dimension;
      max-width: $header-user-photo-dimension;
      overflow: hidden;


      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}
