.main-section{
    background-color: $main-section-background-color;
    height: $main-section-height;

    .editor-container{

        display: flex;
        flex-direction: column;
        height: $main-section-height;
        justify-content: flex-end;

        .editor{
            padding: 0 40px;

            .note-title{
                border: none;
                font-size: $main-section-note-title-font-size;
                line-height: $main-section-note-title-line-height;
                width: 100%;

                &:focus{
                    outline: none;
                }

            }

            .note-content{
                border: none;
                height: $main-section-note-content;
                overflow: auto;
                outline: none;
                resize: none;
                width: 100%;

            }
        }
    }
}
