$editor-control-font-color: black;
$editor-control-icon-button-dimension: 1.5rem;
$editor-control-icon-button-font: 1.1rem;
$editor-control-icon-button-color: black;
$editor-control-icon-border-radius: 25px;
$editor-control-icon-button-margin: 0.5rem;