$header-height: 80px;
$header-z-index: 15;
$header-background-color: #333333;
$header-icon-background-color: #00AF33;
$header-icon-border-radius: 25px;
$header-icon-container-max-width: 140px;
$header-icon-button-dimension: 40px;
$header-icon-button-padding: 6px;
$header-icon-font-size: 1.7rem;
$header-icon-button-trasition-time: 0.12s;
$header-user-photo-dimension: 48px;
$header-user-photo-border-radius: 25px;
$header-side-assets-center-offset: 15px;
