$main-section-background-color: white;
$main-section-note-content: 75vh;
$main-section-editor-shadow: 6px 2px 44px 0px gray;
$main-section-note-title-font-size: 4rem;
$main-section-note-title-line-height: 5rem;